<h1>Listing donors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email address</th>
    <th>Amount</th>
    <th>Donation date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donors.each do |donor| %>
  <tr>
    <td><%= donor.name %></td>
    <td><%= donor.email_address %></td>
    <td><%= donor.amount %></td>
    <td><%= donor.donation_date %></td>
    <td><%= link_to 'Show', donor %></td>
    <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
    <td><%= link_to 'Destroy', donor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donor', new_donor_path %>
